# Ignore common temporary files
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata

# session data files
.RDataTmp
.httr-oauth
.DS_Store

# Ignore build artifacts
*.tar.gz
*.zip

# temporary files created by r markdown
*.utf8.md
*.knit.md

# r environment variables
.Renviron

# r cache
*_cache/
/cache/

# vs code files
.vscode/

# ignore scratch folder
scratch/
